.footer {
  background-color: #007ac2;
  padding: 20px 0;
  margin-top: auto; /* This pushes the footer to the bottom */
}

.footer-text {
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 0;
  }
}
